* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #3c7034;
}

body {
    background-color: #32a897;
    background-image: linear-gradient(#32a897, #aac7a5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-size: 18px;
    font-family: Georgia, sans-serif;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 70%;
}

a {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 7px;
    border: 1px solid black;
    text-decoration: none;
    background-color: #aac7a5;
    color: #3c7034;
}

a.first {
    border-top-left-radius: 12px;
}

a.last {
    border-top-right-radius: 12px;
}

a.active {
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-top: 20px;
    background-color: #3c7034;
    border-bottom: none;
    position: relative;
    top: 1px;
    color: white;
}

.exercice, footer {
    padding: 20px;
    width: 70%;
    background-color: #3c7034;
    border-radius: 12px;
}

footer {
    border: 1px solid white;
    width: 69%;
    margin: 10px auto;
    font-size: 12px;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.date {
    color: #fed8b1;
}

.love {
    color: yellow;
}

.question {
    background-color: #338a24;
    padding: 20px;
    border-radius: 12px;
    margin: 10px 0;
    border: 1px solid #aac7a5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1385px) {
    nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    a.active {
        padding: 7px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    a.first {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    a.last {
        border-top-right-radius: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        margin-bottom: 10px;
    }

    a {
        width: 90%;
    }
}